:root {
    --azulOscuro: #0A192F;
    --azulFondo: #112240;
    --azulcian: #00B4D8;
    --textos: #EAF2F8;
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--azulOscuro);
}

a {
    text-decoration: none;
    color: var(--textos);
    font-family: sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0;
    z-index: 1000;
}

.navbar {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 16px;

    background-color: var(--azulFondo);
    border-radius: 18px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: var(--textos);
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--azulcian);
}

.btn-contacto {
    background-color: var(--textos);
    color: var(--azulOscuro);

    margin-top: auto;
    padding: 6px 5px;
    border-radius: 25px;

    align-items: center;
    justify-content: center;
    gap: 8px;

    font-weight: 700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--textos);
    font-size: 2rem;
    cursor: pointer;
}


#logoNav {
    width: 50px;
    height: auto;
    background-color: var(--textos);
    border-radius: 18px;
}

#logoInicio {
    width: 600px;
    height: auto;
    margin-top: 20px;
}

#inicioTitulo {
    color: var(--textos);
    font-family: sans-serif;
    margin: 200px 50px;
    text-align: center;
}

.container {

    text-align: center;
    font-size: 18px;
}

.hero {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin-top: 50px;
}

.eleccion {
    display: flex
}

#eleccion {
    margin-left: 200px;
}

.preferencia {
    color: var(--textos);
}

#garantia {
    color: var(--textos);
}

#reseñas {
    color: var(--textos);
}

#servicios {
    color: var(--textos);
    border-radius: 30px 30px 30px 30px;
    margin: 50px;
}

.parrafos {
    margin: 20px;
    color: var(--textos);
}

#cardsServicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--textos);
}

/* animacion para las tarjetas de servicios */
.cardServicio:hover {
    transform: translateY(-10px);
}

.cardServicio {
    margin: 20px;
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
    background-color: var(--azulFondo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}



footer {
    background-color: var(--azulFondo);
    color: var(--textos);
    text-align: center;
    padding: 1px;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border-radius: 30px 30px 30px 30px;
}

/* ===== RESPONSIVE NAVBAR ===== */

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;

        position: absolute;
        top: 80px;
        right: 10px;

        width: 220px;

        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        background-color: var(--azulFondo);
        padding: 20px;
        border-radius: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        width: 100%;
    }

    .btn-contacto {
        width: 100%;
        text-align: center;
    }
}