body{
    background-color: #0b2e74;
}

a{
    text-decoration: none;
    color: #333;
}

.navbar {
    background-color: #e2e5eb;
    display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
    
}

.nav-item {
    font-size: 18px;
    text-align: center;
    margin: 40px;
}

.container{

    text-align: center;
    font-size: 18px;
}

#logoNav{
    width: 100px;
    height: auto;
}

#logoInicio{
    width: 600px;
    height: auto;
    margin-top: 20px;
}

.hero{
    grid-template-columns: 1fr 1fr;
    display: grid;
}